  .slider-container {
    height: 20px;
    width: 500px;
    max-width: 100%;
  }
  
  .slider {
    position: relative;
    max-width: 100%;
    width: 500px;
  }
  
  .slider-track,
  .slider-range,
  .slider-left-value,
  .slider-right-value {
    position: absolute;
  }
  
  .slider-track,
  .slider-range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider-track {
    background-color: #dc3545;
    width: 100%;
    z-index: 1;
  }

  .slider-track-right {
    background-color: #198754;
    right: 0;
    z-index: 2;
    border-radius: 3px;
    height: 5px;
    position: absolute;
  }
  
  .slider-range {
    background-color: #ffc107;
    z-index: 3;
  }
  
  .slider-left-value,
  .slider-right-value {
    font-size: 12px;
    margin-top: 20px;
  }
  
  .slider-left-value {
    left: 6px;
  }
  
  .slider-right-value {
    right: -4px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 500px;
    max-width: 100%;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
    color: tomato;
  }
  
  .thumb--right {
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  